.form-group {
  margin-bottom: 1rem;
}

.form-label {
  color: $gray-dark-1;
  margin-bottom: 0.5rem;
}

.form-input {
  border: 1px solid $gray-light-1;
  color: $text-color;
  padding: 0.5rem 1.5rem;
  &:focus {
    outline: 1px solid rgba($primary-color, 0.3);
  }
}
