.hero {
  background-color: $primary-color;
  height: 550px;
  display: flex;

  &-content {
    margin: auto;
    text-align: center;
    padding: 1rem;
  }

  &-title {
    color: $white;
    font-size: 4rem;
    margin-bottom: 0.5rem;
  }

  &-lead {
    color: $white;
    font-size: 1.25rem;
    margin-bottom: 0;
  }
}
